<h2 style="float: left;font-size:5vh;font-weight: bold;color: blue;padding: 10px;margin: auto;width: 100%">Latest Posts</h2>

<div class="card-container" style="float: left">
  {% for post in site.posts %}
  {% if post.url %}
  <a href="{{ post.url }}"> </a>
  {% else %}
  <a>
  {% endif %}
    <div class="card">
      <div class="info">
        <p class="title">{{ post.title }}</p>
        <p class="dates">{{ post.date | date_to_string }} - {{ post.author }}</p>
      </div>
    </div>
  </a>
  {% endfor %}
</div>