<div class="info-stats">
  <div class="stats">
    <p>More than 45+ Individual Commits</p>
  </div>
  <div class="stats">
    <p>18+ PRs Merged</p>
  </div>
  <div class="stats">
    <p>25+ Issues Worked Upon</p>
  </div>
</div>

<footer class="container-fluid text-white">
  <div id="sparrows">
    <div class="prep-logo">
      <a href="/">
        <img src="/assets/img/mlh-prep.png" />
      </a>
    </div>
    <div class="pod-name">Mocking<span class="bird">Sparrows</span></div>
  </div>

  <div class="row" id="location-links">
    <div class="location col-4" style="font-size: 2.5vh">
      <address>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="currentColor"
          class="bi bi-geo-alt"
          viewBox="0 0 16 16"
        >
          <path
            d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"
          />
          <path
            d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
          />
        </svg>
        Remote
      </address>

      <p>
        Representations
        <strong>India</strong
        >|<strong>Nepal</strong>|<strong>Egypt</strong>|<strong>USA</strong>
      </p>
    </div>

    <div class="link col-8">
      <div class="pod-quote row">Teamwork makes the dream work</div>
      <div class="links row">
        <div class="col teaminfo">
          <ul style="list-style-type: none">
            <a href="/">
              <li>Home</li>
            </a>
            <a href="/about">
              <li>About</li>
            </a>
            <a href="#">
              <li>Projects</li>
            </a>
            <a href="#">
              <li>Blogs</li>
            </a>
          </ul>
        </div>
        <div class="col memberinfo">
          <ul style="list-style-type: none">
            <a href="#">
              <li>Pod Leader</li>
            </a>
            <a href="#">
              <li>Pod Members</li>
            </a>
          </ul>
        </div>
        <div class="col social-handles">
          Wanna Connect?<br />
          <div style="margin-left: 2vw">
            <a href="mailto:">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                fill="currentColor"
                class="bi bi-envelope-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"
                />
              </svg>
            </a>

            <a href="#">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                fill="currentColor"
                class="bi bi-github"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
