<h2>Projects</h2>
<div class="card-container">
    {% for item in site.data.projects %}
    {% if item.page-name %}
    <a href="/projects/{{ item.page-name }}">
    {% else %}
    <a>
    {% endif %}
      <div class="card">
	<img src = {{ item.image }} class = "lefticon" style = "width: 20%;" >
        <div class="info">
          <p class="title">{{ item.title }}</p>
	  <p class = "author">Authors: {{ item.author }}</p><br>
	  <p class = "description">{{ item.description }}</p>
          <p class="location">{{ item.event }}</p>
          <p class="dates">{{ item.date }}</p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>

<style>
.lefticon {
  position: absolute;
  top: 8px;
  left: 16px;
}
</style>
