<h2>Projects</h2>
<div class="card-container">
    {% for item in site.data.projects %}
    {% if item.page-name %}
    <a href="/projects/{{ item.page-name }}">
    {% else %}
    <a>
    {% endif %}
      <div class="card">
        <div class="info">
          <img src="./assets/img/{{item.img}}">
          <p class="title">{{ item.title }}</p>
          <p class="location">{{ item.event }}</p>
          <p class="dates">{{ item.date }}</p>
          <p class="brief">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>

          <div class="btns">

<button class="github">Github</button>
<button class="demo">Demo</button>

        </div>
      </div>

      </div>
    </a>
    {% endfor %}
  </div>
  

<script>
  ScrollReveal({reset:true}).reveal('.card');
</script>

