@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import 'navbar';
@import 'profile';
@import 'page';
@import 'footer';
@import 'map';

/*Following line was added to avoid white space after footer*/
html{
    height: 100%;
}
.card-container {
    display: flex;
    // grid-template-columns: repeat(4, 1fr);
    flex-direction: row;
    font-family: "Open Sans", sans-serif;
    margin: 80px;
    a{
        text-decoration: none;
    }
}

@media only screen and (max-width: 1500px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 1000px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 768px) {
    .card-container {
        grid-template-columns: 1fr;
    }
}


body {
    margin-bottom: 50px;
}
h2 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 700;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
    border-radius: 30px;
    padding: 2em 2em;
    font-size: 1.2em;
    box-shadow: 0px 4px 30px rgba(63, 65, 67, 0.6);

}

a {
    color: black;
}

.info {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    font-weight: 800;
 .btns{
     margin-top: 20px;
     button {
         border: none;
         padding: 10px 30px;
         border-radius: 50px;
         color: white;
         transition:0.3s;
     }
     .github{
        background: linear-gradient(45deg, #d5135a, #f05924);
        box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.35);
        &:hover{
            box-shadow: 0px 7px 30px rgba(223, 45, 70, 0.75);
         }
     }
     .demo{
        background: linear-gradient(45deg, #1da1f2, #0e71c8);
        box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.4);
        &:hover{
            box-shadow: 0px 7px 30px rgba(19, 127, 212, 0.75);
        }
     }

 }

    img{
        width: 25%; 
        border-radius: 12px;
    }
    p {
        margin-top: 9px;
        margin: 0px;
        text-align: left;
        font-family: "Quicksand", sans-serif;
    }

    .title {
        font-size: 700;
        font-weight: bold;
        font-size: 20px;
    }

    .location, .description {
        font-size: medium;
        font-weight: 600;
        font-size: 20px;

    }

    .dates {
        font-size: small;
        color: #404040;
        font-size: 18px;
        font-weight: 200;
    }
    .brief{
        font-weight: 200;

    }
}

.icon {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    padding: 10px;

    img {
        width: 100%;
    }
}
@media (max-width: 570px) {
.card{
    padding: 2em 10px;
    margin: 20px 0;

}
.card-container{
    flex-direction: column;
    margin: 80px 0;

}
}
