@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import 'navbar';
@import 'profile';
@import 'page';
@import 'footer';
@import 'map';

@import 'opportunites';

@import "stats";

@import 'project';

/*Following line was added to avoid white space after footer*/
html{
    height: 100%;
}
.card-container {
    display: flex;
    // grid-template-columns: repeat(4, 1fr);
    flex-direction: row;
    font-family: "Open Sans", sans-serif;
    margin: 10px 10px 10px 10%;

  a{
        text-decoration: none;
    }
}

@media only screen and (max-width: 1500px) {
    .card-container {
        grid-template-areas: 'auto auto auto auto';
    }
}

@media only screen and (max-width: 1000px) {
    .card-container {
      display: grid;
      grid-template-areas: 'auto auto';
      margin-left: 11%;
    }
}

body {
    margin-bottom: 50px;
}
h2 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size:5vh;
    align-content: center;
    text-align: center;
    font-weight: bold;
    color: blue;
    padding: 10px
}

.card {
    display: grid;
    grid-template-areas: 'auto auto';
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
    border-radius: 30px;
    padding: 2em 2em;
    font-size: 1.2em;
    box-shadow: 0px 4px 30px rgba(63, 65, 67, 0.6);
}

a {
  color: black;
}



@media (max-width: 600px) {

  .card-container{
    display: grid;
    grid-template-areas: 'auto';
    width: 80%;
  }
}
