@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');



footer{
  display: grid;
  grid-template-areas: 'auto auto auto';
  background-color: #133667;
  font-family: "Open Sans", serif;
  font-weight: bold;
  text-align: justify;
  font-size: 2vh;
}

.prep-logo img{
    width: 250px;
}
.pod-name{
  margin: 0.25%;
  font-family: 'Lobster', cursive;
  font-size: 5vh;
  font-weight: bolder;
}
.bird{
  color: rosybrown;
}
.location{
  margin-top: 4vh;
}

.pod-quote{
  margin-left: 2vw;
  padding-bottom: 1vw;
  font-family: 'Lobster', cursive;
  font-size: 4vh;
  font-weight: bold;

}

.links a{
  color: unset;
  font-size: unset;
}

.links a:hover{
  color:black;
  text-decoration: none;
}
.social-handles a{
  margin-right: 10px;
}

@media (max-width: 1050px) {
  footer{
    display: grid;
    grid-template-areas: 'auto';
    width: 80%;
    margin: auto;

  }
  #sparrows{
    width: 70%;
    margin: auto;
    font-size: 3.5vh;
  }
  #location-links{
    display: grid;
    grid-template-areas: 'auto';
    }

  .location, .pod-quote{

    width: 80%;
    margin: auto
  }
  .pod-quote{
    font-size: 3vh;
  }
  .teaminfo, .memberinfo{
    display: inline-block;
  }
  .social-handles{
    width: 25%;
    margin-left:35%;
    margin-bottom: 20px;
  }
  .social-handles {
    div{
      a{
        margin-left: 10%;
      }
    }
  }
}
