.project-container{
  margin-left: 15%;
  width: 75%;


}
.project-container > div {
  margin: 2%;
  padding: 10px;
}
@media (max-width:1250px){
  .project-container{
    margin-left: 10%;
  }

  @media(max-width:1010px){
    .project-container{
      margin: auto;
      width: 75%;
    }
  }
}
.project {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  color: #ffffff;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
  margin: 10px 1%;
  max-width: 310px;
  min-width: 250px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
}

.project * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.project img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
}

.project figcaption {
  padding: 25px 20px 25px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.project figcaption:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  content: '';
  opacity: 0.8;
  z-index: -1;
}

.project h3, .project p {
  margin: 0;
  padding: 0;
}

.project h3 {
  display: inline-block;
  font-weight: 700;
  letter-spacing: -0.4px;
  margin-bottom: 5px;
}

.project p {
  font-size: 0.8em;
  line-height: 1.6em;
  margin-bottom: 0px;
}

.project a img:hover {
    border: 1px solid black;
  border-radius: 50%;
}

.project:hover img, .project.hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
img {

  border-radius: 5px;
}
.project-container{
  display: grid;
  grid-template-areas: 'auto auto auto';
}


@media (max-width: 950px) {
  .project-container {
    display: grid;
    grid-template-areas: 'auto auto';
  }

  .project-container > div:last-child {
    margin-left: 60%;
  }

  @media (max-width: 696px) {
    .project-container {
      display: grid;
      grid-template-areas: 'auto';
    }
    .project-container > div {
      margin-left: 15%;
    }

    .project-container > div:last-child {
      margin-left: 15%;
    }
  }

  @media (max-width: 550px) {
    .project-container > div {
      margin-left: 10%;
    }

    .project-container > div:last-child {
      margin-left: 10%;
    }
  }

  @media (max-width: 400px) {
    .project-container > div {
      margin-left: 5%;
    }

    .project-container > div:last-child {
      margin-left: 5%;
    }
  }

}