.pod-stats-container {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

.pod-stats-child-container {
  width: 90%;
  margin: 0rem auto;
  padding: 1rem;

  background: #133667;
  color: white;
  border-radius: 16px;
}

.details-adjuster {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.repository-stats-container {
  width: 50%;
}

.pod-stats-heading {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  margin: 0;
  margin-bottom: 1.2rem;
  padding: 0;
}

.pod-stats-para {
  font-size: 1.4rem;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
  margin-top: 0.5rem;
  padding: 0;
  padding-left: 1rem;
}

.pod-leaderboard-container {
  width: 50%;
}

@media (max-width: 860px) {
  .details-adjuster {
    flex-direction: column;
  }

  .repository-stats-container {
    width: 95%;
  }

  .pod-leaderboard-container {
    width: 95%;
  }
}
